:root {
    --primary-font: 'Javata', serif;
    --primary-color: #ff5f00;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Javata';
    src: url(/font/Javata-L33an.otf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all .5 ease-in-out;
}

li {
    list-style: none;
    padding-left: 0;
    display: block;
}

.section {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.main-container {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.section>nav {
    background-color: white;
}

.navbar {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 4rem;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.185);
    position: relative;
    z-index: 200;
}

.navbar-container {
    box-shadow: 0px 0px 0px black;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

// logo
.logo {
    color: #FF5F00;
    font-weight: 500;
    font-size: 18px;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

#menu-button {
    img {
        width: 25px;
    }
}

// mobile Menu
.mobile-menu {
    font-size: 18px;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in;
    height: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    li {
        width: 100%;
        padding: 16px 0px;
        font-weight: 400;
        color: black;
        &:hover {
            background-color: aliceblue;
        }
        a:active {
            color: #FF5F00;
        }
    }
}

.container-mm {
    position: absolute;
    top: 0;
}

// Desktop Queueries
@media screen and (min-width:991px) {
    .navbar-container {}
}

.show {
    height: 300px;
}

// Utility Class - Main Container
.container-large {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    -ms-grid-column: 1fr;
}

@media screen and (min-width:991px) {
    .grid-layout {
        grid-template-columns: 1fr 1fr;
        -ms-grid-column: 1fr 1fr;
    }
}

// Hero Section
.hero-img {
    max-height: 800px;
    position: relative;
    object-fit: contain;
    img {
        max-width: 100%;
        display: inline-block;
    }
}

// Utility Classes
.padding-top-2 {
    padding-top: 3rem;
}

.padding-top-1 {
    padding-top: 4rem;
}

// HEADINGS 
// Main heading
.font-size-1 {
    font-size: 36px;
    line-height: 3rem;
    font-weight: 600;
}

.font-size-2 {
    font-size: 32px;
}

.font-size-3 {
    font-size: 19px;
}

.font-size-4 {
    font-size: 18px;
}

.font-size-para {
    font-size: 16px;
}

// Media Queries for font size
@media screen and (min-width:475px) {
    .font-size-1 {
        font-size: 56px;
        line-height: 4rem;
    }
    .font-size-2 {
        font-size: 48px;
    }
    .font-size-3 {
        font-size: 32px;
    }
    .font-size-4 {
        font-size: 18px;
    }
    .font-size-para {
        font-size: 1.2rem;
    }
}

// COLORS
.color-primary {
    color: var(--primary-color);
}

.color-white {
    color: white;
}

.bg-color-primary {
    background-color: var(--primary-color);
    color: white;
}

// MARGINS 
.mg-b-3 {
    margin-bottom: 15px;
}

.mg-b-2 {
    margin-bottom: 20px;
}

.mg-b-1 {
    margin-bottom: 30px;
}

// FLEX
.button-flex {
    display: flex;
}

.button-primary {
    padding: 10px 15px;
    margin-right: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.1);
}

.button-primary:hover {
    transform: translateY(-5px);
}

.button-secondary {
    padding: 10px 15px;
    box-shadow: 0px 2px 15px -1px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}

.button-secondary:hover {
    transform: translateY(-5px);
}